.list-container-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1vh;
}
.list-item-cart {
  display: flex;
  padding: 2vh;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  width: 60vh;
  background-color: darksalmon;
  margin: 1vh;
}
.list-amount-class {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
.list-item-thumb {
  border-radius: 50vh;
  display: flex;
  height: 10vh;
}
.list-item-name {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  flex: 4;
}
.list-item-thumb-container {
  display: flex;
  flex: 1;
}
.list-item {
  display: flex;
  padding: 2vh;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  margin-left: 5vh;
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.list-render {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-modal {
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 5vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
