.image-button {
  height: 8vh;
  width: 8vh;
  background-color: rgb(160, 156, 156);
  border-radius: 100px;
  margin: 1vh;
}
.remove-button,
.show-button {
  border-radius: 150px;
  background-color: darksalmon;
  border-width: 0px;
  width: 8vh;
  height: 8vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.add-button,
.details-button {
  background-color: rgba(255, 253, 112, 0.8);
  width: 8vh;
  height: 8vh;
  border-radius: 150px;
  border-width: 0px;
  margin-top: 2vh;
  margin-left: 28vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.remove-button:hover,
.image-button:hover,
.add-button:hover,
.details-button:hover,
.show-button:hover {
  background-color: beige;
}

.remove-button:active,
.add-button:active,
.details-button:active,
.search-button:active,
.show-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.image-button:active {
  box-shadow: 0 5px rgb(143, 95, 95);
}

.search-button {
  border-radius: 100px;
  background-color: beige;
  border-width: 0px;
  width: 5vh;
}
.search-button:hover {
  background-color: rgb(136, 2, 96);
}
