.list-item-thumb {
  border-radius: 50vh;
  display: flex;
  height: 10vh;
}
.list-item-name {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;

  flex: 4;
}
.list-item-thumb-container {
  display: flex;
  flex: 1;
}
.list-item {
  background-color: rgb(136, 2, 96);
  display: flex;
  padding: 2vh;
  border-radius: 5px;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.list-item:not(:last-child) {
  margin-bottom: 1vh;
}
.list-container {
  display: flex;
  background-color: cornsilk;
  align-items: center;
  flex-direction: column;
}
.list-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-modal {
  display: flex;
  height: 50%;
  width: 50%;

  align-items: center;
  justify-content: center;
}
