.header {
  display: flex;
}
.AddItems {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: green;
  padding: 2vh;
}
h5 {
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}
h3 {
  display: flex;
  justify-content: center;
  font-family: Lobster;
}
.ModalDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
  padding: 1vh;
}
img {
  display: flex;
  height: 10vh;
}
.ListContainer {
  display: flex;
  align-items: center;
  border: 1vh solid rgb(0, 140, 255);
  margin: 5vh;
  background-color: darkgray;
}
.Items {
  display: flex;
  align-items: center;
}
.Button {
  background-color: red;
  margin: 1vh;
}
ul {
  list-style-type: square;
}

.app-container {
  display: flex;
  flex-direction: column;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 185vh;
  height: 10vh;
  background-color: #333;
}
.app-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.app-image {
  height: 93.5vh;
}
.text-class {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.header-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
